$bg-color: #ffffff;
$bg-color-2: #000000;
$btn-color: #ff753a;
$red-line: #ab0433;

$text-color: #505050;
$p-color: #767676;
$text-nav: #fcfcfc;
$color-25: #252525;

$font-mono: 'Montserrat', sans-serif;
$font-yeseva: 'Yeseva One', serif;

$cubic: cubic-bezier(0.4, 0, 0.2, 1);
