.logo__text {
    color: $bg-color;
}

.site-nav__link {
    color: $bg-color;

    &:hover,
    &:focus {
        color: $bg-color-2;
    }
}

.blog-header {
    position: fixed;
    color: $bg-color;
}

.blog {
    min-height: 100vh;

    color: $bg-color;
    background-color: #2a252a;
}

.blog__position {
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.blog__years {
    margin: auto 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 20vh;
}

.years__item {
    color: #6c6e75;
    font-family: $font-mono;
    font-weight: 600;

    &.active {
        color: $bg-color;
    }
}

.blog__btn {
    position: absolute;
    bottom: 50px;
    left: 220px;
    display: flex;
    flex-direction: column;

    background: none;
    border: none;
    padding: 0;
}

.blog__btn-prev,
.blog__btn-next {
    padding: 0;
    background: none;
    cursor: pointer;
    border: none;
}

.carousel {
    height: 100vh;
}

.carousel__item {
    height: 33.33vh;
    cursor: pointer;
}

.carousel__video {
    position: relative;
    width: 650px;
    object-fit: cover;
    opacity: 0.1;
}

.carousel__video.active {
    opacity: 0.9;
}

.carousel__caption {
    position: absolute;
    left: 22%;
    top: 50%;
    transform: translateY(-50%);
}
.carousel__description {
    font-family: $font-mono;
    font-size: 32px;
    font-weight: 500;
}
.carousel__place {
    margin-top: 10px;
    font-family: $font-mono;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}
