.excursions {
    background-color: #181c1f;
    color: $bg-color;
}

.excursions__position {
    min-height: 100vh;

    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.excursions__img {
    object-fit: cover;
}

.excursions__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    min-height: 70vh;
}

.excursions__title {
    font-family: $font-mono;
    font-size: 24px;
    letter-spacing: 0.1em;
    font-weight: 500;
}

.excursions__subtitle {
    margin-left: 15px;

    width: 325px;
    font-size: 24px;
    font-weight: 600;
}

.excursions__link {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;

    font-family: $font-yeseva;
    color: #6c6e75;

    &:hover {
        color: $bg-color;

        &::before {
            content: '';
            position: absolute;
            left: -100px;
            bottom: 25%;
            width: 60px;
            height: 25px;
            background-color: $bg-color;
        }
    }

    &:last-child {
        margin-bottom: 50px;
    }

    &:not(:last-child) {
        &::after {
            content: '';
            position: absolute;
            left: 0;
            bottom: -30px;
            width: 100%;
            height: 2px;
            background-color: #6c6e75;
        }
    }
}

.excursions__link span {
    font-size: 40px;
}
