.land {
    min-height: 100vh;

    color: $bg-color;
    background-color: #2a3034;
}

.land__position {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.land__subtitle {
    text-align: center;
    padding-top: 220px;
    font-size: 30px;
    font-family: $font-mono;
    font-weight: 600;
}

.land__title {
    margin-top: 12px;
    margin-bottom: 60px;
    text-align: center;

    font-size: 56px;
    font-family: $font-yeseva;
    letter-spacing: 0.25em;
}

.land__content {
    display: flex;
    flex-direction: column;
    width: 800px;
    margin: 0 auto;

    font-size: 24px;
    font-weight: 600;
    font-family: $font-mono;
}

.land__text {
    text-align: center;

    &:first-child {
        margin-bottom: 40px;
    }
}

.land__btn {
    margin-bottom: 50px;
    margin-top: auto;

    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}
