.post {
    min-height: 100vh;
    color: $bg-color-2;
    background-color: $bg-color;
}

.post__position {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.post__img {
    object-fit: cover;
    background: top;

    top: 0;
    left: 0;
    width: 100%;
    height: 400px;

    z-index: -1;
}

.post__title {
    margin-top: 140px;
    margin-bottom: 140px;

    font-size: 56px;
    font-family: $font-yeseva;
    text-align: center;
}

.post__subtitle {
    margin-top: 40px;
    margin-bottom: 0;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 0.1em;
    color: #6c6e75;
}

.post__text {
    width: 900px;
    font-size: 30px;
    font-family: $font-mono;
    letter-spacing: 0.1em;
    text-align: center;
}
